<h1>Add new security key</h1>

<p class="lead">
  Please insert the key and press the button within 15 seconds
</p>

<p id="waiting">
  Waiting...
</p>

<p id="error" style="display: none">

</p>

<%= form_tag Device.new, id: 'new-device' do |f| %>
  <%= hidden_field_tag :response %>
<% end %>

<script>
  const appId = <%= @app_id.to_json.html_safe %>;
  const registerRequests = <%= @registration_requests.to_json.html_safe %>;
  const signRequests = <%= @sign_requests.to_json.html_safe %>;
  const $waiting = document.getElementById('waiting');
  const $error = document.getElementById('error');
  const errorMap = {
    1: 'Unknown error, try again',
    2: "Bad request error, try again" ,
    3: "This key isn't supported, please try another one",
    4: 'The device is already registered, please login',
    5: 'Authentication timed out. Please reload to try again.'
  };
  const setError = function(code) {
    $waiting.style.display = 'none';
    $error.style.display = 'block';
    $error.innerHTML = errorMap[code];
  };

  u2f.register(appId, registerRequests, signRequests, function(registerResponse) {
    let form, reg;

    if (registerResponse.errorCode) {
      return setError(registerResponse.errorCode);
    }

    form = document.getElementById('new-device');
    response = document.querySelector('[name=response]');

    response.value = JSON.stringify(registerResponse);

    form.submit();
  }, 15);
</script>
